#root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin: 5%;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-element {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#extra-text {
    text-align: center;
}
#inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20%;
}

#main-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#input-wrap{
    display: flex;
    justify-content: flex-start;
    width:100%;
}
.input{
    width:100%;
}
#canvas .p-datatable{
    overflow: scroll;
}